{% extends "otree/Page.html" %}
{% load staticfiles otree %}

{% block app_styles %}
    {% include 'DynamicQueue_05_Experiment/commonCSS.html' %}
{% endblock %}

{% block scripts %}
    {% include 'DynamicQueue_05_Experiment/commonJS.html' %}

    <script>

        MyVariables = {'period':6};
        ShowHistory();
        ShowOneEntry(5,'period',6,'white','black');
        ShowOneEntry(5,'tableRandomNumber',3,'white','black');
        ShowOneEntry(5,'tableNumber',4,'var(--B-color)','black');
        ShowOneEntry(5,'myChoice',2,'var(--C-color)','black');
        ShowOneEntry(5,'otherChoice',1,'var(--D-color)','black');
        ShowOneEntry(5,'otherPayoff','?','var(--N-color)','black');

    </script>
{% endblock %}




{% block title %}
    Quiz
{% endblock %}

{% block content %}

    {% include 'DynamicQueue_05_Experiment/commonHTML_PayoffTables.html' %}
    <br>
    {% include 'DynamicQueue_05_Experiment/commonHTML_History.html' %}


    <div class="card-body" style="text-align: left">
        <p><strong style="color: blue">Question 9:</strong> If in Round 6 you choose <strong class="inlineOption2" >2</strong> and the
            participant you are paired with chooses <strong class="inlineOption1">1</strong>, what will be the other participant's payoff in Round 6?</p>
        <p style="text-align: center">
                <button class="otree-btn-next btn btn-primary" id="startMatchButton" type="button"
                style="background-color: var(--N-color); border-color: black; color: black; font-weight: bold"
            onclick="incorrectAnswer('That is incorrect. Please try again. Hint: In Round 1 of this example, there are 4 tasks in the queue.')">14</button>
                <button class="otree-btn-next btn btn-primary" id="startMatchButton" type="button"
                style="background-color: var(--N-color); border-color: black; color: black; font-weight: bold"
            onclick="incorrectAnswer('That is incorrect. Please try again. Hint: In Round 1 of this example, there are 4 tasks in the queue.')">28</button>
                            <button class="otree-btn-next btn btn-primary" id="startMatchButton" type="button"
                style="background-color: var(--N-color); border-color: black; color: black; font-weight: bold"
            onclick="incorrectAnswer('That is incorrect. Please try again. Hint: In Round 1 of this example, there are 4 tasks in the queue.')">32</button>
                            <button class="otree-btn-next btn btn-primary" id="startMatchButton" type="button"
                style="background-color: var(--N-color); border-color: black; color: black; font-weight: bold"
            onclick="incorrectAnswer('That is incorrect. Please try again. Hint: In Round 1 of this example, there are 4 tasks in the queue.')">44</button>
                            <button class="otree-btn-next btn btn-primary" id="startMatchButton" type="button"
                style="background-color: var(--N-color); border-color: black; color: black; font-weight: bold"
            onclick="incorrectAnswer('That is incorrect. Please try again. Hint: In Round 1 of this example, there are 4 tasks in the queue.')">64</button>
            <button class="otree-btn-next btn btn-primary" id="startMatchButton" type="button"
                style="background-color: var(--N-color); border-color: black; color: black; font-weight: bold"
            onclick="correctAnswer('Correct.')">68</button>
            </p>

        <p style="text-align: center;" id="quizMessage"></p>


    </div>
<button class="otree-btn-next btn btn-primary" id="NextButton" style="display:none;">Continue</button>
    <input type="hidden" name="quizHistory9" value="," id="id_testingHistory"/>
{% endblock %}
