{% extends "otree/Page.html" %}
{% load staticfiles otree %}

{% block app_styles %}
    {% include 'DynamicQueue_05_Experiment/commonCSS.html' %}
{% endblock %}

{% block scripts %}
    {% include 'DynamicQueue_05_Experiment/commonJS.html' %}

    <script>

        MyVariables = {'period':0};
        ShowHistory();
        ShowOneEntry(0,'period',1,'white','black');
        ShowOneEntry(0,'tableRandomNumber',2,'white','black');
        ShowOneEntry(0,'tableNumber','?','var(--N-color)','black');

    </script>
{% endblock %}




{% block title %}
    Quiz
{% endblock %}

{% block content %}

    {% include 'DynamicQueue_05_Experiment/commonHTML_PayoffTables.html' %}
    <br>
    {% include 'DynamicQueue_05_Experiment/commonHTML_History.html' %}


    <div class="card-body" style="text-align: left">
        <p><strong style="color: blue">Question 6:</strong> If in Round 1 the <strong style="color: red">Number of New Tasks</strong>
            is 2, how many tasks will be in the queue in Round 1?</p>
        <p style="text-align: center">
                <button class="otree-btn-next btn btn-primary" id="startMatchButton" type="button"
                style="background-color: var(--R-color); border-color: darkred; color: darkred; font-weight: bold"
            onclick="correctAnswer('Correct.')">2</button>
            <button class="otree-btn-next btn btn-primary" id="startMatchButton" type="button"
                style="background-color: var(--G-color); border-color: darkgreen; color: darkgreen; font-weight: bold"
            onclick="incorrectAnswer('That is incorrect. Please try again. Hint: Table # in Round 1 is equal to the Number of New Tasks in Round 1.')">3</button>
                        <button class="otree-btn-next btn btn-primary" id="startMatchButton" type="button"
                style="background-color: var(--B-color); border-color: darkblue; color: darkblue; font-weight: bold"
            onclick="incorrectAnswer('That is incorrect. Please try again. Hint: Table # in Round 1 is equal to the Number of New Tasks in Round 1.')">4</button>
            </p>

        <p style="text-align: center;" id="quizMessage"></p>


    </div>
<button class="otree-btn-next btn btn-primary" id="NextButton" style="display:none;">Continue</button>
    <input type="hidden" name="quizHistory6" value="," id="id_testingHistory"/>
{% endblock %}
