{% extends "DynamicQueue_03_Instructions/myPage.html" %}
{% load staticfiles otree %}

{% block title %}
    How Matches Work
{% endblock %}



{% block content %}
    <div class="card bg-light instructions">
    <div class="card-body">

        <p>The experiment is made up of <strong style="color: red">{{ Matches }} matches</strong>. </p>
            <p>At the start of each match you will be randomly paired with another participant in this room.</p>
            <p>You will then play a number of rounds with that participant (this is what we call a "match").</p>
            <p>Each match will last for a random number of <strong style="color: red">rounds</strong>: </p>
            <ul>
                <li>At the end of each round the computer will roll a twelve-sided fair dice.</li>
                <li>If the computer rolls a number less than {{ CutoffRoll }}, then the <strong style="color: blue;">match continues</strong> for at least one more round (<strong style="color: blue;" id="continuationProb">X</strong><strong style="color: blue;">% probability</strong>).</li>
                <li>If the computer rolls a {{ CutoffRoll }} or greater, then the <strong style="color: blue;">match ends</strong> after the current round (<strong style="color: blue" id="terminationProb">X</strong><strong style="color: blue;">% probability</strong>).</li>
            </ul>

            <p>To test this procedure, click the 'Test' button below. You will need to test this procedure 10 times.</p>



            <br>

            <div class="outerbox" id="id_outerbox" style="display:block;">

                <div class="periodLabel">Round</div>
                <div class="randomNumLabel">Dice Roll</div>
                <div class="scrollLabel" id="scrollLabel">Scroll Bar</div>

                <div class="innerbox" id="id_innerbox">
                </div>

                <p style="font-size: 16px;color: gray;z-index: 6; position: absolute; bottom: 0px; left: 300px;">Remember that at the end of each round the computer rolls a twelve-sided fair dice. The match ends when the
        computer rolls {{ CutoffRoll }} or greater.</p>
                                <button class="otree-btn-next btn btn-primary" id="diceRollButton" type="button"
                        style="left:5px; bottom:2px; height: 21px; width: 140px; line-height: 15px; padding: 3px; background-color: #1e8f27; border-color: #1e8f27;position: absolute; display: none;z-index: 5"
                        onclick="rollDice()">Roll Dice</button>
            </div>

            <p style="text-align: left;display: none" id="matchSummary">
            Match duration: <strong id="summaryRounds">X</strong> rounds<br/>
            </p>
            <br/>

            <p style="text-align: center">

                <button class="otree-btn-next btn btn-primary" id="startMatchButton" type="button"
                style="background-color: #1e8f27; border-color: #1e8f27;"
            onclick="startMatch()">Test #1</button>
            </p>

            <p style="text-align: center"><br/>
                <button class="otree-btn-next btn btn-primary" id="NextButton" style="display:inline-block;">Continue</button>
            </p>

    </div>
    </div>

    <input type="hidden" name="testingHistory" value="," id="id_testingHistory"/>

{% endblock %}


{% block scripts %}
    <script>

    var continuationProb = 100*({{ CutoffRoll|json }}-1)/12;
    var terminationProb = 100*(12-{{ CutoffRoll|json }}+1)/12;


    updateText('continuationProb',continuationProb.toFixed(0));
    updateText('terminationProb',terminationProb.toFixed(0));

    </script>
{% endblock %}